{% extends 'baseauth.html' %}
{% block title %}
    <title>USERS POINT PAGE</title>
    <link rel="stylesheet" href="../../static/styles/navbarfooter.css">
    <link rel="stylesheet" href="../../static/styles/users-point-page.css">
{% endblock %}
{% block body %}

    <div class="container2">
    <div class="one">
        <p>Your KLIN Points</p>
        <p>4</p>
    </div>

    <div class="two">
        <p>Number of Depositions</p>
        <p>1</p>
    </div>

    <div class="three">
        <p>Number of Redemptions</p>
        <p>0</p>
    </div>
</div>

    <div class="four">
        <h5 class="h">History</h5>
        <br/>
        <h5 class="sub i">Rewards</h5>
    </div>
    <div class="container1">
        <div class="">
          <p>You haven't earned any reward yet. 
           Just a few more clean ups!</p>
     </div>
    </div>
{% endblock %}