{% extends 'baseauth.html' %}
{% block title %}
    <link rel="stylesheet" href="../../../static/styles/usersignup.css">
    <!-- Main CSS-->
    <link rel="stylesheet" media="all" href={% static "css/main.css"%} >
    <title>Klin Lag</title>
{% endblock %}
{% block body %}
<div class="container">
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> Your password has been changed!
  </div>
    <a href="{% url 'home' %}"><button class="btn btn-info" type="submit">Return to Homepage</button></a>
</div>
{% endblock %}